# Preguntas de tablas de indexmundi
### *Andrea Rodriguez Yáñez*
## Tablas a utilizar:
* Taza de muerte
* Densidad de camas de hospital
* obesidad - taza de prevalencia en adultos


## Preguntas para responder:
* ¿Cuáles son los países con mayor taza de muerte? 
* ¿Cuáles son los países con mayor obesidad?
* ¿Cuáles son los países con mayor saturación de camas?
* ¿Cuál es el promedio de obesidad correspondiente a cada valor de taza de muertes?
* ¿Cuál es el promedio de saturación de camas correspondiente a cada valor de taza de muertes?
* ¿Cuál es el porcentaje de países cuya obesidad es mayor a 30%?
* ¿Cuál es el porcentaje de países cuya saturación de camas es menor a 5%?
* ¿Cuál es la moda de taza de muertes de países en Asia/Europa/America? (separado por continentes)
* ¿Cuál es la moda de obesidad de países en Asia/Europa/America? (separado por continentes)
* ¿Qué países tienen una taza de muerte mayor a 10 y un porcentaje de obesidad mayor a 30%?
* ¿Cuáles son los países con mayor taza de muerte y una taza de obesidad menor al 35%?
* ¿Cuáles son los países con mayor saturación de camas y un porcentaje de obesidad mayor al 35%?

In [5]:
import os
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Definición de las tablas para su utilización
file1 = 'death_rate.txt'
file2 = 'HBD.txt'
file3 = 'obesity.txt'
file4 = 'PBPL.txt'
file5 = 'America.txt'
file6 = 'Asia.txt'
file7 = 'Europa.txt'

DR = pd.read_csv(file1, sep='\t',engine = 'python', header=None)
HBD = pd.read_csv(file2, sep='\t',engine = 'python', header=None)
obesity = pd.read_csv(file3, sep='\t',engine = 'python', header=None)
PBPL = pd.read_csv(file4, sep='\t',engine = 'python', header=None)
DR_America = pd.read_csv(file5, sep='\t',engine = 'python', header=None)
DR_Europa = pd.read_csv(file6, sep='\t',engine = 'python', header=None)
DR_Asia = pd.read_csv(file7, sep='\t',engine = 'python', header=None)

DR.columns = ['País', 'Rate', 'Año']
HBD.columns = ['País', 'Density', 'Año']
obesity.columns = ['País', 'Porciento', 'Año']
PBPL.columns = ['País', 'Porciento', 'Año']
DR_America.columns = ['País', 'Rate', 'Año']
DR_Europa.columns = ['País', 'Rate', 'Año']
DR_Asia.columns = ['País', 'Rate', 'Año']

In [7]:
#Paises con mayor taza de muerte
DR.head(10)

                       País  Rate   Año
0                   Lesotho    15  2018
1                 Lithuania    15  2018
2                    Latvia    15  2018
3                  Bulgaria    15  2018
4                   Ukraine    14  2018
5                    Serbia    14  2018
6                    Russia    13  2018
7                   Belarus    13  2018
8               Afghanistan    13  2018
9  Central African Republic    13  2018

In [8]:
#Paises con mayor obesidad
obesity.head(10)

            País  Porciento   Año
0          Nauru         61  2016
1          Palau         55  2016
2         Tuvalu         52  2016
3          Tonga         48  2016
4          Samoa         47  2016
5       Kiribati         46  2016
6         Kuwait         38  2016
7  United States         36  2016
8         Jordan         36  2016
9   Saudi Arabia         35  2016

In [9]:
#Paises con mayor saturacion de camas
HBD.head(10)

           País  Density   Año
0        Monaco       14  2012
1         Japan       13  2012
2  Korea, North       13  2012
3  Korea, South       12  2015
4       Belarus       11  2013
5       Ukraine        9  2013
6       Somalia        9  2014
7       Germany        8  2013
8     Greenland        8  2015
9        Russia        8  2013

In [14]:
#Definición de funciones para la resolución de la pregunta de promedios de obesidad agrupados por taza de muerte
n = DR['Rate'].max()
merged_inner = pd.merge(left=DR, right=obesity, left_on='País', right_on='País')
merged_inner2 = pd.merge(left=HBD, right=obesity, left_on='País', right_on='País')

def Promedio_DR_obesity(merged_inner,obesity,n,a_list):
    for i in range(n):
        A=merged_inner.loc[merged_inner.Rate == n-i+1, ['País', 'Rate']]
        merged_x = pd.merge(left=A, right=obesity, left_on='País', right_on='País')
        if np.isnan(merged_x['Porciento'].mean()):
            a_list[i] = 0
        else:
            a_list[i] = merged_x['Porciento'].mean()
        

    return a_list

def Promedio_DR_HBD(merged_inner,HBD,n,a_list):
    for i in range(n):
        A=merged_inner.loc[merged_inner.Rate == n-i+1, ['País', 'Rate']]
        merged_x = pd.merge(left=A, right=HBD, left_on='País', right_on='País')
        if np.isnan(merged_x['Density'].mean()):
            a_list[i] = 0
        else:
            a_list[i] = merged_x['Density'].mean()
        

    return a_list


a_list = list(range(0, n))

In [16]:
#Elegir 1 para respuesta de obesidad o elegir 2 para respuesta de Densidad de camas
a_list = list(range(0, n))
n = DR['Rate'].max()
Elegir = 1
if Elegir==1:
    promedio1 = pd.DataFrame(Promedio_DR_obesity(merged_inner,obesity,n,a_list), list(range(1,n+1)))
    print('A continuación se muestran las tazas de muerte junto con sus promedios de obesidad')
    print(promedio1)

elif Elegir==2:

    promedio2 = pd.DataFrame(Promedio_DR_HBD(merged_inner,HBD,n,a_list), list(range(1,n+1)))
    print('A continuación se muestran las tazas de muerte junto con sus promedios de camas/1000 habitantes')
    print(promedio2)

A continuación se muestran las tazas de muerte junto con sus promedios de obesidad
            0
1    0.000000
2   23.000000
3   23.000000
4   17.000000
5   16.600000
6   18.555556
7   16.187500
8   17.095238
9   20.307692
10  16.133333
11  17.413793
12  25.473684
13  23.333333
14  32.000000
15  35.000000

In [17]:
#porcentaje de paises con obesidad mayor a 30%
Mayores=obesity.loc[obesity.Porciento > 30, ['País']]
print(100*Mayores['País'].count()/obesity['País'].count())

9.72972972972973

In [18]:
#porcentaje de paises cuya saturacion de camas es menor a 5%
Menores=HBD.loc[HBD.Density < 5, ['País']]
print(100*Menores['País'].count()/HBD['País'].count())

73.83720930232558

In [19]:
#La moda de america, se hace lo mismo para cualquier continente
max(DR_America.Rate)
save = 0
for i in range(max(DR_America.Rate)):
    if  DR_America.loc[DR_America.Rate == 5]['Rate'].count()>save:
        cantidad = DR_America.loc[DR_America.Rate == 5]['Rate'].count()
        moda = i
print(moda)

8

In [20]:
#¿Qué países tienen una taza de muerte mayor a 10 y un porcentaje de obesidad mayor a 30%?
A = merged_inner.loc[merged_inner.Rate > 10]
B = A.loc[merged_inner.Porciento > 25]
B

              País  Rate  Año_x  Porciento  Año_y
1        Lithuania    15   2018         26   2016
10         Hungary    13   2018         26   2016
26  Czech Republic    11   2018         26   2016

In [21]:
#¿Cuáles son los países con mayor taza de muerte y una taza de obesidad menor al 35%?
A = merged_inner.loc[merged_inner.Rate > 11]
B = A.loc[merged_inner.Porciento < 35]
B

                        País  Rate  Año_x  Porciento  Año_y
0                    Lesotho    15   2018         17   2016
1                  Lithuania    15   2018         26   2016
2                     Latvia    15   2018         24   2016
3                   Bulgaria    15   2018         25   2016
4                    Ukraine    14   2018         24   2016
5                     Serbia    14   2018         22   2016
6                     Russia    13   2018         23   2016
7                    Belarus    13   2018         25   2016
8                Afghanistan    13   2018          6   2016
9   Central African Republic    13   2018          8   2016
10                   Hungary    13   2018         26   2016
11                   Somalia    13   2018          8   2016
12                   Estonia    13   2018         21   2016
13                   Moldova    13   2018         19   2016
14                   Croatia    12   2018         24   2016
15                   Romania    12   2018         23   2016
16                    Zambia    12   2018          8   2016
17                   Germany    12   2018         22   2016
18                     Niger    12   2018          6   2016

In [22]:
#¿Cuáles son los países con mayor saturación de camas y un porcentaje de obesidad mayor al 35%?

A = merged_inner2.loc[merged_inner2.Density > 11]
B = A.loc[merged_inner2.Porciento < 35]
B

           País  Density  Año_x  Porciento  Año_y
0         Japan       13   2012          4   2016
1  Korea, North       13   2012          7   2016
2  Korea, South       12   2015          5   2016